<!DOCTYPE html>
<html ng-app="myApp">

<head lang="en">
    <meta charset="utf-8">
    <title>Common Filter</title>
    <link rel="stylesheet" type="text/css" href="ng-grid.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <!--script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script-->
    <script type="text/javascript" src="ng-grid-2.0.3.debug.js"></script>
    <script type="text/javascript" src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="debounce.js"></script>
    <script type="text/javascript" src="largeLoad.js"></script>
    <script type="text/javascript" src="underscore.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi">
    </script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="angular-ui.js"></script>
    <script src="select2.js"></script>


</head>

<body ng-controller="MyCtrl">
    <h1>{{name}}</h1>


    <label class="checkbox inline box" ng-repeat="pie in groupopt">
        <input type="checkbox" ng-model="pie.checked" ng-change="checkChange(pie)" ng-disabled="selectedCount>=1 && !pie.checked">{{pie.name}}
    </label>


    <div class="gridStyle" ng-grid="gridOptions" style="width:100%"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="hc-pie" items="limitedIdeas"></div>
            </div>
            <div class="col-md-6">
                <div class="hc-bar" items="limitedIdeas"></div>
            </div>
        </div>
    </div>



</body>

</html>